.header {
    background-color: var(--primary-color);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.task__content{
    padding-top: 6.5rem;
}

.task__add-btn{
    width: 100%;
    position: fixed;
    bottom: calc(var(--bottom-bar-height) + 1em);
    left: 50%;
    transform: translate(-50%, 0);
    
    display: flex;
}

.task__add-btn--1-alert{
    bottom: calc(var(--bottom-bar-height) + 6em);
}

.task__add-btn--2-alert{
    bottom: calc(var(--bottom-bar-height) + 12em);
}

.btn--task-add{
    margin-left: auto;
    font-size: 1.3rem !important;
    color: var(--primary-color) !important;
}
