.header {
    background-color: var(--primary-color);
}

.btn--task-add{
    position: fixed;
    bottom: 12%;
    right: 10%;
    
    font-size: 1.3rem !important;
    color: var(--primary-color) !important;
}

@media screen and (min-width: 768px)  {
    .btn--task-add{
        right: 18%;
    }   
}

@media screen and (min-width: 992px)  {
    .btn--task-add{
        right: 30%;
    }   
}