.header {
    background-color: var(--primary-color);
}

.btn--task-add{
    position: fixed;
    bottom: 12%;
    right: 18%;
    
    font-size: 1.3rem !important;
    color: var(--primary-color) !important;
}