.btn.btn--custom{
    background-color: var(--button-color-type-1);
    opacity: .9;
    color: var(--secondary-color-type-1);
    font-weight: var(--regular);
    border: transparent;
    transition: all .2s ease ;
}

.btn--eclipse{
    border-radius: 50% !important;
    width: 4.5rem;
    height: 4.5rem;
    box-shadow: 1px 3px 6px rgb(0 0 0 / 30%);
    font-size: 1.7rem;  
}

.btn--go-back > *:first-child{
    margin-right: .3rem;
}

.btn.btn--custom:hover,
.btn.btn--custom:focus{
    color: var(--secondary-color-type-1);
    background-color: var(--button-color-type-1);
    border: transparent;
    outline: none !important;
    box-shadow:none !important;
}

@media only screen and (min-width: 992px) {
    .btn.btn--custom:hover{
        opacity: 1;
    }
}

.btn--custom > * + *{
    margin-left: .2em;
}

.btn__icon{
    line-height: 0;
}