.summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em .7em;

    overflow-x: auto;
}

.summary__item{
    text-align: center;
    flex-grow: 0;
}

.summary__item > *{
    font-size: 1.1rem;
}

.summary__title{
    font-weight: var(--regular);
}

.summary__icon {
    margin-right: .2em;
    font-size: 1.2rem;
}

.summary__val{
    padding: 0.2em 0.3em;
    border-radius: 4px;
}

.summary__val--success{
    background-color: rgba(25, 135, 84, 0.4);
}

.summary__val--danger{
    background-color: rgba(220, 53, 69, 0.4);
}

.summary__val--warning{
    background-color: rgba(255, 193, 7, 0.4);
}