.navigator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navigator__button{
    color: var(--primary-color) !important;
}

.navigator__title{
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
}

.navigator__date-picker{
    max-width: 220px;
    text-align: center;
}

.navigator__react-datepicker{
    color: var(--secondary-color-type-1) !important;
    text-align: center;
}

input.navigator__date-picker {
    position: relative;
  }
  
  input.navigator__date-picker::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    color: transparent;
    background: transparent;
  }
  