.task-table{
    background-color: var(--primary-color);
    overflow-x: auto;
}

.task-table__header > *{
    border-bottom: transparent !important;
    padding-top: 0.8em !important;
    padding-bottom: 0.8em !important;
}

.task-table__header-title > *:first-child{
    margin-right: .1em;
}

.task-table tbody{
    border-top: transparent !important;
}

.task-table__row{
    cursor: pointer;
}
.task-table__row > *{
    vertical-align: middle !important;
    border-top: 1px rgb(222, 226, 230) solid;
}

.task-table__header{
    font-size: 1.1rem;
}
