.bottom-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    height: var(--bottom-bar-height);
}

.bottom-bar__content{
    margin-bottom: 0;
    border: none;
}

.bottom-bar__item{
    padding: .5em 0;
    color: rgba(0, 0, 0, 0.5);
}

.bottom-bar__title{
    margin-top: .1em;
}

.bottom-bar__item--active{
    color: var(--button-color-type-1);
}

.bottom-bar__item-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.bottom-bar__item--active .bottom-bar__item-content::before{
    content: '';
    display: block;
    position: absolute;
    top: 103%;
    left: 25%;
    width: 50%;
    height: 5px;
    border-radius: 25px;
    background-color: var(--button-color-type-1);
}
