.incomesAndExpenses{
}

.incomesAndExpenses__Header{
    background-color: var(--primary-color);
    padding-top: .7em;
}

.incomesAndExpenses__Dropdown{
    display: flex;
    justify-content: flex-end;
    
    margin-right: .2em;
}

.incomesAndExpenses__Dropdown > .form-select{
    width: 45%;
}
