.incomesAndExpenses__Header{
    background-color: var(--primary-color);
    padding-top: .7em;
}

.incomesAndExpenses__Chart{
    background-color: var(--primary-color);
    height: calc(100vh - 260px);
    overflow: auto;
}

.incomesAndExpenses__Dropdown{
    display: flex;
    justify-content: flex-end;
    
    margin-right: .2em;
}

@media only screen and (min-width: 768px) {
    .incomesAndExpenses__Dropdown > .form-select{
        width: 40%;
}
}

@media only screen and (min-width: 992px) {
    .incomesAndExpenses__Dropdown > .form-select{
        width: 25%;
}
}
